<!DOCTYPE html>

<html>

<body>

<meta charset="utf-8">

<div class="container"  style="
		width: 100%;
		margin:0 auto;
		border: 1px solid #44B78B;
		padding-bottom: 10px;
		font-family: sans-serif;

">
	
	<div class="header" style="
		padding: 10px;
	    color: #FFF;
	    background: #44B78B;
	">
		<h2 style="
			font-weight: 500;
			text-align: center;
			margin:3px;
			font-family: sans-serif;
		">Forgot your password ?</h2>
	</div>


	<p class="text" style="
	    width: 98%;
	    margin: 6px auto;
	    
	    color: #424242;
	    text-align: center;
	    font-family: sans-serif;	
	">
		We received a request to reset your password for the email <strong>{{email}}</strong> , if your really did , click here to choose a new one
	</p>

	<a  style="
		background: #E82C0C;
	    color: #FFF;
	    display: block;
	    margin: 15px auto;
	    width: 200px;
	    text-align: center;
	    padding: 10px;
	    font-weight: bold;
	    text-decoration: none;
	    border-radius: 4px;
	    border-bottom: 2px solid #7F0000;
	    font-family: sans-serif;
	    height: 18px;	
	    font-size: 16px;
	" href="{{link}}">Choose a new password</a>

	<p class="rawlink" style="

		text-align: center;
		color: #424242;
		font-family: sans-serif;
	
			
	">
		Or just copy this link : <span style="
		color: #26C6DA;
    	text-decoration: underline;
    	font-family: sans-serif;
    	display: block;
		margin-top: 3px;
    	margin-bottom: 3px;			
		">{{link}}</span> and then paste in your browser.
	</p>	

	<p class="text" style="
	    width: 98%;
	    margin: 6px auto;
	    
	    color: #424242;
	    text-align: center;
	    font-family: sans-serif;	
	">
		If you didn't mean to reset your password, then you can just ignore this email; your password will not change
	</p>


	<div>
		<p style="
		margin-bottom: 0;
		width: 100%;		
		text-align: center;
	    color: #424242;
	    font-family: sans-serif;		
		">sended from django basement api - 2017</p>
	</div>

</div>

</body>

</html>


